<!-- boostrap -->

<!DOCTYPE html>
<html>
<head>
    <title>Admin for student</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta/css/bootstrap.min.css" integrity="sha384-/Y6pD6FV/Vv2HJnA6t+vslU6fwYXjCFtcEpHbNJ0lyAFsXTsjBbfaDjzALeQsN6M" crossorigin="anonymous">
</head>
<body>
<h1>Remove Student</h1>

<form method="post" action="/student/remove">
    
    ID: <input type="text" name="StudentId"/>

    Firstname: <input type="text" name="firstName"/>

    Lastname: <input type="text" name="lastName"/>

    Age: <input type="text" name="age"/>

    <input type="submit"/>
</form>

</body>
</html>